.editor {
  display: grid;
  grid-template-columns: 400px auto;
  height: 100%;
}

.content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}

.content .heading {
  display: flex;
  font-size: 18pt;
}

.content .heading .username {
  font-weight: bold;
  margin-right: 10px;
}

.content .heading .role {
  font-weight: lighter;
  margin-left: 10px;
}

.content .edit {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  margin-top: 30px;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.content .edit .key-value .icon {
  color: #acacac;
}

.content .edit .actions {
  display: flex;
  margin-top: 30px;
}

.content .edit .actions .edit-btn {
  margin-left: auto;
}