.heading {
  font-size: 14pt;
  display: flex;
  margin: auto 0;
}

.heading .add {
  margin-left: auto;
}

.action {
  margin: 30px auto 0 auto;
}

.prop {
  display: grid;
  grid-template-columns: 30px 300px auto 50px 30px 30px;
  margin: auto 0;
  padding: 5px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--c-white-dark);
}

.prop .img {
  margin: auto 0;
}

.prop .img img {
  width: 100%;
}

.prop .name {
  margin: auto 0 auto 20px;
}

.prop .type {
  display: flex;
}

.prop .type .value {
  margin: auto 0;
}

.prop .type .group-pointer {
  margin: auto 20px;
  color: var(--c-gray-light);
}

.prop .required {
  margin: auto 0;
  color: var(--c-gray-light);
}

.prop .action {
  display: flex;
  margin: auto 0;
  border: none;
  background-color: var(--c-transparent);
}

.prop .action button {
  margin: auto 0;
  border: none;
  background-color: var(--c-transparent);
  color: var(--c-gray-dark);
}

.prop .action button:hover {
  color: var(--c-primary);
}