.heading {
  display: flex;
  border-bottom: 1px solid var(--c-gray);
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.heading .icon {
  margin-left: 20px;
  width: 30px;
}

.heading .icon img {
  width: 100%;
}

.heading .type {
  margin-left: auto;
}

.heading .name {
  font-size: 12pt;
}

.heading .lock {
  font-size: 8pt;
  margin: auto 0 auto 10px;
  color: var(--c-gray);
}

.heading .error {
  margin: auto 0 auto 20px;
  color: var(--c-error);
  display: flex;
}

.heading .error .icon {
  margin: auto 0;
}

.heading .error .text {
  margin: auto 0;
}

.array {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

.group {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: grid;
  grid-gap: 20px;
}
