.menu {
  width: 100%;
  height: 100%;
  padding: 30px 20px 0 20px;
  margin: auto 0;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
}

.menu .heading {
  color: var(--c-gray-cold);
  font-size: 10pt;
  font-weight: bold;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.items {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
}

.item {
  display: flex;
  margin: auto 0;
  padding: 10px 10px;
  border-radius: 3px;
  border: none;
  background-color: var(--c-neutral);
}

.item:hover {
  background-color: var(--c-white-dark);
}

.item .icon {
  margin: auto 0;
  color: var(--c-gray-cold);
  font-size: 8pt;
}

.item .name {
  margin: auto 0 auto 10px;
  font-size: 10pt;
}

.item .type,
.item .role {
  margin: auto 0 auto auto;
  font-size: 8pt;
  font-weight: bold;
}

.selected {
  // background-color: var(--c-white-dark);
}

.selected .icon {
  color: var(--c-primary);
}

.create-new {
  margin: 20px 0;
}