.simple-popup {
  position: fixed;
  bottom: 20px;
  right: -350px;
  width: 350px;
  font-size: 10pt;
  border: none;
}

.simple-popup .message {
  transition: 0.4s;
  color: var(--c-white);
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  position: relative;
  right: 370px;
}

.simple-popup .message:hover {
  cursor: pointer;
}