.wrapper {
  padding: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}

.label {
  display: flex;
}

.label .icon {
  margin: auto 20px auto 0;
  color: var(--c-secondary);
}

.label .type {
  font-weight: bold;
  margin: auto 0 auto auto;
  color: var(--c-gray-cold);
}

.label .lock {
  margin: auto 0 auto 10px;
  color: var(--c-gray-cold);
}

.gp-label {
  padding: 5px;
  border-bottom: 1px solid var(--c-gray-cold);
}