.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: grid;
  grid-template-columns: 250px auto;
  grid-column-gap: 10px;
  overflow: hidden;
  color: var(--c-black);
  background-color: var(--c-white);
  border-bottom-style: solid;
  border-bottom-color: var(--c-neutral);
  border-bottom-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.heading {
  width: 240px;
  height: 50px;
  margin: 5px;
}

.heading .logo {
  text-align: center;
  height: 100%;
}

.heading .logo img {
  height: 50px;
  margin: auto 0;
}

.content {
  display: flex;
  margin: auto 20px auto auto;
  color: var(--c-black);
}

.user {
  color: var(--c-black);
}

.user:hover {
  color: var(--c-gray);
  transition: 0.2s;
}

.user .role {
  font-weight: bold;
}