.info {
  max-width: 600px;
  margin: 100px auto auto auto;
}

.logo {
  text-align: center;
}

.logo img {
  width: 200px;
}

.message {
  text-align: center;
  margin-top: 50px;
  font-size: 14pt;
  color: #929292;
}