.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.heading {
  display: flex;
}

.heading .text .title {
  font-size: 18pt;
  font-weight: bold;
}

.heading .text .entry-count {
  font-size: 10pt;
  color: #787e8f;
}

.heading .action {
  margin-left: auto;
}

.filters {
  background-color: var(--c-white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
}

.filters h3 {
  margin-top: 20px;
}

.filters .prop-filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
}

.filters .prop-filters .prop {
  padding: 10px;
  border-radius: 5px;
  border-color: var(--c-placeholder);
  border-width: 1px;
  border-style: solid;
}

.no-entries {
  font-size: 18pt;
  text-align: center;
  margin-top: 100px;
  color: #787e8f;
}

.entries {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.entry {
  background-color: var(--c-white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  font-size: 10pt;
  margin-bottom: auto;
}

.entry .heading {
  padding: 3px 20px;
  background-color: #d4d4d4;
  color: #787e8f;
  font-weight: bold;
}

.entry .info {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  background-color: var(--c-white);
  padding: 20px;
}

.entry .info .not-available {
  font-size: 14pt;
  font-weight: bold;
}

.entry .info .title {
  font-size: 12pt;
  font-weight: bold;
}

.entry .info .slug {
  font-size: 8pt;
  color: #787e8f;
}

.entry .info .desc {
  margin-top: 20px;
  font-size: 8pt;
}

.entry .info .date-time {
  font-size: 8pt;
}

.entry .info .date-time .icon {
  font-size: 8pt;
  margin-right: 10px;
  color: #787e8f;
}

.entry .info .date-time .text {
  display: flex;
}

.entry .info .time {
  margin-left: auto;
}

.entry .info .actions {
  margin-top: 30px;
  display: flex;
}

.entry .info .actions .edit {
  margin-left: auto;
  color: var(--c-white);
}

.entry .info .schema {
  background-color: var(--c-primary);
  color: var(--c-neutral);
  border-radius: 5px;
  padding: 10px;
  font-size: 8pt;
  font-weight: bold;
}

.page-scroll {
  margin-top: auto;
}

.page-scroll .wrapper {
  margin: 40px 0 20px 0;
  display: flex;
}

.page-scroll .entry-count span {
  font-size: 10px;
  color: #787e8f;
}

.page-scroll .nav {
  display: grid;
  grid-template-columns: 20px 50px 20px;
  margin: auto 0 auto auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--c-white);
}

.page-scroll .nav .btn {
  border-style: solid;
  border-width: 1px;
  border-color: #d4d4d4;
  border-radius: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14pt;
}

.page-scroll .nav .btn:hover {
  color: var(--c-primary);
}

.page-scroll .nav .dis {
  color: #787e8f;
}

.page-scroll .nav .dis:hover {
  color: #787e8f;
}

.page-scroll .nav .current {
  border-style: solid none solid none;
  border-width: 1px;
  border-color: #d4d4d4;
  border-bottom-color: var(--c-primary);
  width: 100%;
  text-align: center;
}
