.wrapper {
  padding: 20px;
}

.heading {
  display: flex;
}

.heading .action {
  margin-left: auto;
}

.entries {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 370px));
  grid-gap: 20px;
  width: 100%;
}

.entry {
  background-color: var(--c-white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 10pt;
  margin-bottom: auto;
}

.entry .heading {
  display: flex;
}

.entry .heading .id {
  margin: auto 0;
  padding-left: 20px;
}

.entry .heading .overflow-menu {
  margin-left: auto;
}

.entry .info {
  display: flex;
  flex-direction: column;
  background-color: var(--c-white);
  padding: 20px;
  overflow-x: auto;
}

.entry .info .not-available {
  font-size: 14pt;
  font-weight: bold;
}

.entry .info .title {
  font-size: 12pt;
  font-weight: bold;
}

.filter-heading {
  display: flex;
}

.filter-heading h4 {
  margin: auto 0;
}

.filters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 370px));
  grid-gap: 20px;
  width: 100%;
}

.filter {
  padding: 10px 20px;
  border: 1px solid var(--c-gray-light);
}

.page-scroll {
  margin-top: auto;
}

.page-scroll .wrapper {
  margin: 40px 0 20px 0;
  display: flex;
}

.page-scroll .entry-count span {
  font-size: 10px;
  color: var(--c-gray-cold);
}

.page-scroll .nav {
  display: grid;
  grid-template-columns: 20px 50px 20px;
  margin: auto 0 auto auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--c-white);
}

.page-scroll .nav .btn {
  border-style: solid;
  border-width: 1px;
  border-color: var(--c-gray-light);
  border-radius: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14pt;
}

.page-scroll .nav .btn:hover {
  color: var(--c-primary);
}

.page-scroll .nav .dis {
  color: var(--c-gray-cold);
}

.page-scroll .nav .dis:hover {
  color: var(--c-gray-cold);
}

.page-scroll .nav .current {
  border-style: solid none solid none;
  border-width: 1px;
  border-color: var(--c-gray-light);
  border-bottom-color: var(--c-primary);
  width: 100%;
  text-align: center;
}

.etable {
  border-collapse: collapse;
  background-color: #f4f4f4;
  border-spacing: 10px;
  width: 100%;
}

.etable .header {
  background-color: #e0e0e0;
  text-align: left;
  font-weight: bold;
}

.etable .header th {
  padding: 3px 5px;
}

.etable td {
  padding: 3px 5px;
}

.etable .title {
  width: 300px;
}

.etable .id {
  font-size: 8pt;
  width: 100px;
}

.etable .date {
  font-size: 8pt;
  width: 100px;
}

.etable .desc {
  overflow-y: auto;
  max-height: 10px;
  font-size: 10pt;
  width: 300px;
}

.etable .actions {
  width: 50px;
}
