.wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
}

.viewer-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.viewer {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
}

.viewer .heading {
  display: flex;
  flex-direction: column;
}

.viewer .heading .title {
  font-size: 18pt;
  font-weight: bold;
}

.viewer .heading .path {
  font-size: 10pt;
  color: var(--c-gray-dark);
}

.dir-actions {
  display: flex;
}

.dir-actions .create {
  margin-left: 20px;
}
