.wrapper {
  display: grid;
  grid-template-columns: 300px auto;
  height: 100%;
}

.viewer {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}

.viewer .heading {
  display: flex;
  flex-direction: column;
}

.viewer .heading .title {
  font-size: 18pt;
  font-weight: bold;
}

.viewer .heading .path {
  font-size: 10pt;
  color: var(--c-gray-dark);
}

.dir-actions {
  margin-top: 30px;
  padding: 20px;
  display: flex;
}

.dir-actions .create {
  margin-left: auto;
}

.dir-actions .upload {
  margin-left: 20px;
}