.config {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
}

.config .heading {
  display: flex;
  background-color: var(--c-neutral);
}

.config .heading .icon {
  margin: auto 20px auto 20px;
}

.config .heading .name {
  font-size: 14pt;
  font-weight: bold;
}

.config .heading .actions {
  margin: auto 0 auto auto;
}

.config .heading .actions .delete .icon {
  font-size: 8pt;
  margin: auto 5px auto 0;
}

.config .settings {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}