.btn-blue-br {
  border-color: #1c8fe5;
  transition: 0.2s;
}
.btn-blue-c {
  color: #1c8fe5;
  transition: 0.2s;
}
.btn-blue-bg {
  background-color: #1c8fe5;
  color: var(--c-white);
  transition: 0.2s;
}
.btn-blue-br:hover {
  border-color: #1572b9;
  transition: 0.2s;
}
.btn-blue-c:hover {
  color: #1572b9;
  transition: 0.2s;
}
.btn-blue-bg:hover {
  background-color: #1572b9;
  transition: 0.2s;
}

.btn-red-br {
  border-color: #f64d0a;
  transition: 0.2s;
}
.btn-red-c {
  color: #f64d0a;
  transition: 0.2s;
}
.btn-red-bg {
  background-color: #f64d0a;
  color: var(--c-white);
  transition: 0.2s;
}
.btn-red-br:hover {
  border-color: #cf4914;
  transition: 0.2s;
}
.btn-red-c:hover {
  color: #cf4914;
  transition: 0.2s;
}
.btn-red-bg:hover {
  background-color: #cf4914;
  transition: 0.2s;
}

.btn-green-br {
  border-color: #27b70f;
  transition: 0.2s;
}
.btn-green-c {
  color: #27b70f;
  transition: 0.2s;
}
.btn-green-bg {
  background-color: #27b70f;
  color: var(--c-white);
  transition: 0.2s;
}
.btn-green-br:hover {
  border-color: #248313;
  transition: 0.2s;
}
.btn-green-c:hover {
  color: #248313;
  transition: 0.2s;
}
.btn-green-bg:hover {
  background-color: #248313;
  transition: 0.2s;
}

.btn {
  display: flex;
  font-size: 10pt;
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  background-color: #00000000;
  margin: auto 0;
}
.btn:hover {
  transition: 0.3s;
}
.btn .icon {
  margin: auto 0;
  font-size: 8pt;
  margin-right: 10px;
}
.btn .text {
  font-size: 10pt;
  font-weight: normal;
}


.btn-border {
  display: flex;
  font-size: 10pt;
  padding: 3px 5px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  background-color: #00000000;
  margin: auto 0;
}
.btn-border:hover {
  transition: 0.3s;
}
.btn-border .icon {
  margin: auto 0;
  font-size: 8pt;
  margin-right: 10px;
}
.btn-border .text {
  font-size: 10pt;
  font-weight: normal;
}

.btn-fill {
  display: flex;
  font-size: 10pt;
  padding: 3px 5px;
  color: var(--c-neutral);
  border: none;
  border-radius: 3px;
  margin: auto 0;
}
.btn-fill:hover {
  transition: 0.3s;
}
.btn-fill .icon {
  margin: auto 0;
  font-size: 8pt;
  margin-right: 10px;
}
.btn-fill .text {
  font-size: 10pt;
  font-weight: bold;
}

.btn-l-padding {
  padding: 5px 10px;
}