.editor {
  display: grid;
  grid-template-columns: 400px auto;
  height: 100%;
}

.content {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
}

.content .heading {
  display: flex;
}

.content .heading .title {
  font-size: 18pt;
  font-weight: bold;
}

.content .heading .edit {
  color: var(--c-gray-dark);
}

.content .heading .edit:hover {
  color: var(--c-primary);
}

.content .desc {
  font-size: 10pt;
  color: var(--c-gray-dark);
}

.content .update {
  display: flex;
  margin-top: 20px;
}

.content .update button {
  margin-left: auto;
}

.content .no-props {
  text-align: center;
}

.content .no-props .message {
  font-size: 14pt;
  margin-top: 30px;
}

.content .no-props .action {
  margin: 40px auto 40px auto;
}

.content .delete {
  margin: 40px 0 20px auto;
}

.content .props {
  margin-top: 30px;
  background-color: var(--c-white);
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}

.editor .basic-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
  background-color: var(--c-white);
  padding: 10px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 10pt;
}