.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.content button {
  background-color: var(--c-transparent);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: var(--c-white);
  padding: 20px;
}

.content .template {
  background-color: #1a738a;
}

.content .template:hover {
  background-color: #308094;
}

.content .function {
  background-color: #8a701a;
}

.content .function:hover {
  background-color: #998238;
}