.content .title {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--c-white-dark);
  font-size: 14pt;
  font-weight: bold;
}

.content .options {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
}