.input-wrapper {
  width: 100%;
}

.input-wrapper input,
.input-wrapper textarea {
  padding: 7px 9px 7px 9px;
  width: 100%;
  border: 2px solid #0000;
  border-bottom: 2px solid var(--c-gray);
  background-color: var(--c-gray-lighter);
}