#bcms {
  width: 100%;
  min-height: vh(100);
  display: grid;
  grid-template-columns: var(--sidebar-nav-lvl1-width) 1fr;
  background-image: url('/images/gradient-3.png');
  background-position: top left;
  background-size: 569px auto;
}