@for $index from 1 to 20 {
  .nav--list-enter-active:nth-child(#{$index}),
  .nav--list-leave-active:nth-child(#{$index}) {
    transition-property: opacity, transform;
    will-change: opacity, transform;
    transition-duration: 0.1 + ($index * 0.1s);
    transition-delay: $index * 0.01;
    transition-timing-function: ease-in-out;
  }
}

.nav--list-enter,
.nav--list-leave-to {
  opacity: 0;
  transform: translateX(-4px);
}

.nav--listWrapper-enter-active {
  transition-property: opacity, transform;
  will-change: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.nav--listWrapper-enter,
.nav--listWrapper-leave-to {
  opacity: 0;
  transform: translateX(-4px);
}
