/*
* Fonts:
*/

/*
* Breakpoints:
*/

$desktop: 1190px;
$tablet: 768px;
$mobile: 360px;

/*
* Sizes:
*/

$wrapper: 1190px;
$big-wrapper: 1440px;
$featured-gutter: 20px;

/*
* Colors:
*/

:root {
  --green: #249681;
  --pink: #ECADA9;
  --yellow: #FFCD19;
  --red: #F56B58;

  --dark: #13141A;
  --grey: #9798AB;
  --light: #F8F8FC;
  --white: #fcfcfc;

  --grey_03: rgba(151, 152, 171, 0.3);
  --grey_05: rgba(151, 152, 171, 0.5);
  --white_05: rgba(253, 253, 253, 0.3);
  
  --nav-active: var(--green);


  // ui:

  --sidebar-nav-lvl1-width: 302px;
  --sidebar-nav-lvl2-width: 207px;
  --sidebar-nav-lvl3-width: 240px;

  
  --vh: 1vh;
}