.widget {
  font-size: 10pt;
  font-weight: normal;
}

.widget .head {
  display: flex;
  padding: 5px;
  background-color: #f4f4f4;
}

.widget .head .icon {
  color: var(--c-primary);
  margin: auto 0;
}

.widget .head .text {
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto auto auto 20px;
}

.widget .head .move {
  font-size: 12pt;
  margin: auto 0;
}

.widget .props {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  border-style: solid;
  border-color: #f4f4f4;
  border-width: 2px;
  padding: 20px;
}