.widget {
  font-size: 10pt;
  font-weight: normal;
  margin-top: 30px;
}

.widget .head {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid var(--c-gray-cold);
}

.widget .head .icon {
  color: var(--c-primary);
  margin: auto 0;
}

.widget .head .text {
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto auto auto 20px;
}

.widget .head .move {
  font-size: 12pt;
  margin: auto 0;
}

.widget .props {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  border-style: none solid solid solid;
  border-color: var(--c-gray-cold);
  border-width: 1px;
  padding: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}